:root {
  --brand-color: hsl(15, 84%, 57%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

img {
  width: 100%;
}

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
  max-width: 890px;
}

.page-title {
  font-size: 20px;
  color: var(--brand-color);
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 890px) {
  .page-title {
    text-align: left;
  }
}

.activities__header {
  text-align: center;
}

@media (min-width: 890px) {
  .activities__header {
    display: flex;
    justify-content: space-between;
  }
}

.activities__cards-layout {
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 890px) {
  .activities__cards-layout {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
}

.card {
  position: relative;
  flex: 1;
  height: 350px;
  margin-bottom: 1rem;
}

.card__background-image {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
