:root {
  --brand-color: hsl(15, 84%, 57%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
  max-width: 890px;
}

.page-title {
  font-size: 20px;
  color: var(--brand-color);
  text-transform: uppercase;
}

.activities__header {
  text-align: center;
}

@media (min-width: 890px) {
  .activities__header {
    display: flex;
    justify-content: space-between;
  }
}
